body {
    display:flex;
    border: 1px solid black;
}

#contLeft {
    border: 4px solid blue;
}

#contUp {
    border: 1px solid red;
}

#contNums {
    border: 1px solid purple;
    display: flex;
}

#zeroButt {
    border: 1px solid green;
}

#contRight {
    border: 4px solid pink;
}