body {
    display:flex;
    border: 1px solid black;
}

#contLeft {
    border: 4px solid blue;
    flex-grow: 3;/* means that it will grow 3 times more than 1  */
}

#contUp {
    border: 1px solid red;
}

#contNums {
    border: 1px solid purple;
    display: flex;
}

.numButton {
    color: red;
}

#zeroButt {
    border: 1px solid green;
}

#contRight {
    border: 4px solid pink;
    flex-grow: 1; /*will grow times 1*/
}